/*---------------------------------font-size-------------------------------------------*/
.fs_10 {
    font-size: 10px;
}

.fs_15 {
    font-size: 15px;
}

.fs_20 {
    font-size: 20px;
}
.fs_25 {
    font-size: 25px;
}

.fw_b {
    font-weight: bold;
}

.color_blue {
    color: blue;
}

.color_black{
    color: black;
}

.color_white{
    color: white;
}

.color_skyBlue {
    color: #1E90FF;
}

.color_red{
    color: red;
}

.color_orange{
    color: orange;
}

.color_yellow{
    color: yellow;
}

.color_green{
    color: lawngreen;
}

.color_grey{
    color: grey;
}

.c_w {
    color: #ffffff;
}

.c_b {
    color: #4facfe;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}