/*---------------------------------width-px-------------------------------------------*/
.wt_150 {
    width: 150px;
}


/*---------------------------------width-%-------------------------------------------*/
.wd_6 {
    width: 6%;
}

.wd_10 {
    width: 10%;
}

.wd_19 {
    width: 19%;
}

.wd_20 {
    width: 20%;
}

.wd_24 {
    width: 24%;
}

.wd_25 {
    width: 25%;
}

.wd_30 {
    width: 30%;
}

.wd_35 {
    width: 35%;
}

.wd_40 {
    width: 40%;
}

.wd_48 {
    width: 48%;
}

.wd_49 {
    width: 49%;
}

.wd_50 {
    width: 50%;
}

.wd_60 {
    width: 60%;
}

.wd_70 {
    width: 70%;
}

.wd_80 {
    width: 80%;
}

.wd_90 {
    width: 90%;
}

.wd_95 {
    width: 95%;
}

.wd_100 {
    width: 100%;
}


/*---------------------------------height-------------------------------------------*/
.hg_20 {
    height: 20px;
}

.hg_30 {
    height: 30px;
}

.hg_50 {
    height: 50px;
}

.hg_200 {
    height: 200px;
}

.hg_280 {
    height: 280px;
}

.hg_300 {
    height: 300px;
}

.hg_330 {
    height: 330px;
}

.hg_350 {
    height: 350px;
}

.hg_400 {
    height: 400px;
}

.hg_500 {
    height: 500px;
}

.hg_600 {
    height: 600px;
}